html {
    height: 0;
}

body {
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

/* Need background color of body to be this for footer to look nice */
footerBody{
    background-color: #C5C6C7;
    width: 100%;
    margin: 0;
}

/* Top Navigation Bar */

header {
    height:65px;
    left: 0;
    top: 0;
    width:100%;
    position: absolute;
    float: left;
    background-color: #0B0C10;
}

#headerContainer{
    margin-right:0%;
}

#headerContainer ul li{
    display: inline;
} 

#icon{
    color: #66FCF1;
    font-size: 25px;
    padding-right: 20px;
    font-family:'Andale Mono';
}

#headerContainer .normalButton, #headerContainer .specialButton{
    display: inline-block;
    width: 10%;
    text-align: center;
    margin:5px;
}

/* Buttons */

.normalButton a, .specialButton a{
    padding:10px;
    color: #66FCF1;
    font-size: 14px;
    transition: all 0.5s;
}

.normalButton a:hover{
    transition: all 0.5s;
    border-bottom: 2px solid #66FCF1;
    cursor: pointer;
}

.specialButton a:hover{
    border: 2px solid #66FCF1;
    cursor: pointer;
    border-radius: 10%;
}

/* Search Bar */

.searchBar{
    display: inline-block;
    width: 25%;
    text-align: center;
}

.searchBar input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
}
  
.searchBar button {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.searchBar button:hover {
    background: #ccc;
}


/* Body Content */
#content {
    width: 100%;
    height: 1000px;
    left: 0;
    background-color: #1F2833;
    margin-top: 57px;
    position: absolute;
    float: left;
}

#contentContainer {
    margin-top: 20px;
}

#contentButton {
    display: inline;
}

/* Footer */
footer {
    height: 200px;
    /* header height = 65 + content height = 1000 */
    /* margin-top: 1065px; */
    position: relative;
    float: left;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C5C6C7;
    color: white;
    text-align: center;
}

#footerContainer {
    height: 200px;
    display: table-caption;
}

#footerContainer #icon {
    margin-top: 20px;
    margin-left: 160px;
    padding-bottom: 10px;
    float: left;
}

#footerTable {
    float: left;
    /* margin-top: 25px; */
    margin-left: 150px;
    width: 800px;
}

#footerTable, #footerTable th, #footerTable td {
    border-collapse: collapse;
    padding: 10px;
    /* border: 1px solid black; */
    text-align: left;
}

#copyRight {
    font-size: 10px;
    padding-top: 10px;
    margin-left: 160px;
    float: left;
}

/* This is how you overwrite the style for button */
#footerTable .normalButton a{
    padding: 0;
    color: white;
}

#footerTable .normalButton a:hover{
    transition: all 0.5s;
    border-bottom: 2px solid white;
    cursor: pointer;
}