body {
	/* background-color: #dce3ed; */
	margin-left: 20px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* table, td, th {
	border-collapse: collapse;
	border: 1px solid black;
}

td, th {
	min-width: 200px;
} */

#pageContent {
    margin-top: 65px;
    width: 100%;
    height: 1000px;
    left: 0;
    position: absolute;
    float: left;
}

body footer {
    margin-top: 62%;
    width: 100%; 
}

h4 {
	margin-top: 5px;
	margin-bottom: 2px;
}

.green {
	color: green;
}

.red {
	color: red;
}

#logo{
    margin-top: 5%;
}

#search h1 {
    font-size: 30px; 
    text-align: center; 
    /* color: #66FCF1;  */
    color: azure;  
}

#subTitle {
    margin-top: 10%; 
    font-size: 27px; 
    text-align: top; 
    /* color: #66FCF1;  */
    color: azure; 
}

#subTitle h5{
    font-size: 17px; 
    text-align: top; 
    /* color: #66FCF1; */
    color: azure; 
}

#searchTextHere {
    width: 290px; 
    height: 35px; 
    margin: 0 36% 0 0%; 
}

#searchButton {
    width: 210px; 
    height: 40px; 
    margin: 2% 0% 2% 0%; 
}

/* body {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: contain;  
} */

.imageOverlayFixer{
    padding-top: 60%;
}

.mainTitle {
    margin-top: 1%;
    color: #66FCF1; 
    margin-left: 28%; 
    font-size: 32px; 
}

.searchResultEntry {
    width: 70%; 
    margin-left: 15%; 
    
}

.hder-bg-area {
    position: absolute;
    width: 100%;
    /* top: 50%; */

    /*  */
    margin-top: 350px;
    /*  */

    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    /* 
    background-position: 60% 40%;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; */
    height: 100vh;
    /* background-image: url("back.jpg");
    background-size: cover; */
}

.searchTextContainer {
    margin: 10%;
}

.eraseMargin{
    margin-top: 50px;
}

.white {
    background-color: white;
    padding: 20px;
}

