*{
    margin:0px;
    padding:0px;
    font-family:'Avenir Next';
}
a{
    color: inherit;
    text-decoration: none;
}

body {
	margin-left: 20px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
    /*background-image: url("../images/back-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;*/ 
}

/* table, td, th {
	border-collapse: collapse;
	border: 1px solid black;
} */


#loginContainer{
    height: 600px;
    padding-top: 100px;
    background-color: #0B0C10;
}

#loginBody{
    height: 300px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: wheat;
}

#loginBody div{
    padding: 10px;
    text-align: center;
}

#loginBody h3{
    font-family: "Andale Mono";
    font-size: 30px;
}

#form form{
    text-align: left;
    font-size: 20px;
    font-family: "Andale Mono";
    margin-left: 80px;
}

#form form button{
    margin-top: 30px;
    padding: 10px;
}

#form input{
    width: 200px;
}
/*#loginContent {
    width: 100%;
    height: 1000px;
    left: 0;
    margin-top: 57px;
    position: absolute;
    float: left;
}*/

body footer {
    margin-top: 000px;
}

#logo{
    margin-top: 5%;
    margin-left: 32%; 
}

#subTitle {
    margin-top: 10%; 
    font-size: 27px; 
    text-align: top; 
    #color: #66FCF1; 
    color: azure; 
}

#subTitle h5{
    font-size: 17px; 
    text-align: top; 
    #color: #66FCF1;
    color: azure; 
}

.mainTitle {
    margin-top: 1%;
    color: #66FCF1; 
    margin-left: 28%; 
    font-size: 32px; 
}

.welcomeTitle {
    font-size: 32px; 
    color: #1f2833; 
    margin-top: 6%; 
    margin-left: 0%; 
    text-align: center;
}

.welcomeSubTitle {
    font-size: 22px; 
    color: #1f2833; 
    margin-top: 1%; 
    margin-left: 0%; 
    text-align: center;
    
}

#usernameText {
    width: 250px; 
    height: 25px; 
    margin-left: 0%; 
}

#passwordText {
    margin-top: 1%; 
    width: 250px; 
    height: 25px; 
    margin-left: 0%; 
}

#loginButton {
    width: 150px; 
    height: 30px; 
    margin-top: 2%; 
    margin-left: 0%; 
}

#popup {
    border: 1px solid black; 
    width: 50%; 
    height: 200px; 
    background: #efefef; 
    display: none; 
}

.green {
    color: green; 
}

.red {
    color: red; 
}

/*///////////////////*/ 
/* Popup box */
.popupWindow{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    left:0;
    width:100%;
    z-index:10000;
}
.popupWindow .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.popupWindow > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 10px;
}

.popupWindow > div > p, .popupWindow > div > h4 {
    color: black;
}
.popupCloseButton {
    background-color:#999;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.popupTrigger {
    color:royalblue;
    cursor: pointer;
    font-size: 20px;
    /* margin: 20px; */
    display: inline-block;
    font-weight: bold;
}

.popupTitle {
    text-align: left;
    color: black;
}