*{
    margin:0px;
    padding:0px;
    font-family:'Avenir Next';
}
a{
    color: inherit;
    text-decoration: none;
}
#header {
    height:100px;
    width:100%;
    position: fixed;
    background-color: #0B0C10;
    margin-bottom: 80px;;
    position: fixed;
}

#icon{
    color: #66FCF1;
    font-size: 25px;
    padding-right: 20px;
    font-family:'Andale Mono';
}

#buttonContainer{
    padding:30px;
    margin-left:10%;
    margin-right:0%;
}

#buttonContainer ul li{
    display: inline;
} 

#buttonContainer div{
    display: inline-block;
    width: 10%;
    text-align: center;
    margin:5px;
}

#buttonContainer li div a{
    padding:10px;
    color: #66FCF1;
    font-size: 14px;
    transition: all 0.5s;
}

#buttonContainer li div a:hover{
    transition: all 0.5s;
    border-bottom: 2px solid #66FCF1;
    cursor: pointer;
}

#signupButton a:hover, #loginButton a:hover{
    border: 2px solid #66FCF1;
    cursor: pointer;
    border-radius: 10%;
}

/* The Why Us page body */

#whyusContainer{
    width: 100%;
    background-color: #0B0C10;
}

#whyus{
    padding-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: wheat;
}

#headinger{
    font-size: 40px;
    font-family: "Andale Mono";
    padding: 5px;
}

#oneLiner{
    font-size: 20px;
    padding: 5px;
}

.reason img{
    height:200px;
    margin-left: 28%;
    border: 10px solid #0B0C10;
    cursor: pointer;
    transition: all 0.5s;
}

.reason img:hover{
    border: 10px solid #66FCF1;
    transition: all 0.5s;
}

.desc {
    text-align: center;
}

.reason{
    padding-bottom: 20px;
}

